address:              'smtp.gmail.com'
port:                 587
domain:               'localhost:3000'
user_name:            'YOUR_EMAIL'
password:             'YOUR_PASSWORD'
authentication:       'plain'
enable_starttls_auto: true
