.attraction {
  border: 1px solid gray;
  margin: 10px 0px;
}

.attraction-content {
}

.attraction-title {
  background-color: #46B6AC;
  font-size: 40px;
  padding: 10px 0px;
  text-align: center;
  color: white;
  margin: 0px;
}
