.attraction{
  width: 360px;
  margin-bottom: 50px;

  &:hover{
    .attraction-content{
      height: auto;
    }
  }
}

.attraction-body{
  border: 1px solid rgb(187, 187, 187);

  &:hover{
    box-shadow: 1px 1px 10px #949494;
  }
}

.attraction-head{
  padding: 20px;
  background: #3498db;
  color: #fff;

  .attraction-actions{
    float: right;
    font-size: 18px;
    padding-top: 10px;

    a {
      color: #fff;
      padding-left: 10px; }
  }

  .attraction-title{
    float:left;  
    text-transform: uppercase;
    
  }
}

.attraction-content{
  padding: 20px;
    height: 150px;
  overflow: hidden;
  transition: all 0.5;
  .day {
    float: right;
  }
}


.attraction-media{
  padding: 5px 8px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  color: #fff;
  background: #1abc9c;
  float: left;
}

.attraction-description{
  color: #8A8989;
  font-style: italic;
  font-size: 20px;
  word-wrap: break-word;
}

.attraction-bottom{
  padding: 10px 20px;
  border-top: 1px solid #ececec;
  background: #f8f8f8;
  font-size: 18px;
}
