.attraction{ 
  width: 360px;

  &:hover{
    box-shadow: 1px 1px 10px #949494;
  }
}

.attraction-body{
  border: 1px solid #ececec;
}

.attraction-head{
  padding: 20px;
  background: #3498db;
  color: #fff;

  .attraction-actions{
    float: right;
    font-size: 18px;
    padding-top: 10px;

    a { color: #fff; }
  }

  .attraction-title{
    float:left;  
    text-transform: uppercase;
    
  }
}

.attraction-content{
  padding: 20px;
}

.attraction-media{
  padding: 5px 8px;
  font-weight: 800;
  font-size: 12px;
  border-radius: 5px;
  color: #fff;
  background: #1abc9c;
  float: left;
}

.attraction-description{
  color: #8A8989;
  font-style: italic;
  font-size: 22px;
}

.attraction-bottom{
  padding: 10px 20px;
  border-top: 1px solid #ececec;
  background: #f8f8f8;
  font-size: 18px;
}
